<div class="page-header header">
    <h1>Check Weather by City</h1>
</div>

<div class="input-group">

    <input type="text" class="form-control" ng-model="city" placeholder="Enter City Name">

    <div class="input-group-btn">
        <button class="btn btn-primary" ng-click="checkWeather()">Get the Weather!</button>
    </div>

</div>

<div class="panel panel-default weather-panel" ng-if="weather">
    <div class="panel-body">
        <div class="col-sm-6">
            <h1>{{weather.name}}</h1>
            <h1 class="temp">{{weather.main.temp - 273.15 | number:1}}&deg;C</h1>
        </div>

        <div class="col-sm-6 conditions">
            <h4>{{weather.weather[0].description}}</h4>
            <h4>Humidity: {{weather.main.humidity}}%</h4>
            <h4>Pressure: {{weather.main.pressure}} hPa</h4>
        </div>
    </div>
</div>